  /* Global styles */
  html, body {
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Header styles */
.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}

.inside-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    padding: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

ul {
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

a:hover {
    color: #3882f6;
    transition: color 0.3s;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Box1 styles */
.box1 {
    display: flex;
    background-color: #1f2937;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}

.inside-box1 {
    display: flex;
    gap: 35px;
    width: 1000px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin: 0;
}

.text-title {
    color: #e5e7eb;
    font-size: 18px;
    text-align: left;
    margin: 10px 0;
}

.button-one {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 2s;
    text-align: left;
}

.button-one:hover {
    background-color: #085858;
}

.image-placeholder img {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    background-color: #7a7d83;
    width: 500px;
    height: 200px;
}

/* Box2 styles */
.box2 {
    margin: 0;
    padding: 20px;
    display: flex;
    min-height: 400px;
    flex-direction: column;
}

.header2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 20px;
}

.box-container {
    display: flex;
    flex:1;
    gap: 50px;
    justify-content: center;
}

.small-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallimg img {
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 175px;
}

.text {
    font-size: 16px;
    color: #1f2937;
    margin-top: 10px;
}

/* Box3 styles */
.box3-cont {
    margin: 0;
    padding: 20px;
    min-height: 300px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    width: 800px;
    text-align: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.name {
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    margin-top: 10px;
}

/* Box4 styles */
.box4 {
    width: 1000px;
    background-color: #3882f6;
    border-radius: 6px;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    color: #f9faf8;
}

.inside-box4 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-inside-box4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bold {
    font-size: 20px;
    font-weight: 900;
    color: #f9faf8;
}

.not-bold {
    font-size: 16px;
    color: #f9faf8;
}

.button-2 {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 2s;
    border: 1px solid white;
}

.button-2:hover {
    background-color: #085858;
}

/* Footer styles */
.footer {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}